<div class="calculator">
  <p class="display">{{display}}</p><br>
  <button class="caculator-button" (click)="addDisplay('/')">/</button>
  <button class="caculator-button" (click)="addDisplay('*')">*</button>
  <button class="caculator-button" (click)="addDisplay('-')">-</button><br>
  <button class="caculator-button" (click)="addDisplay(7)">7</button>
  <button class="caculator-button" (click)="addDisplay(8)">8</button>
  <button class="caculator-button" (click)="addDisplay(9)">9</button>
  <button class="caculator-button" (click)="addDisplay('+')">+</button><br>
  <button class="caculator-button" (click)="addDisplay(4)">4</button>
  <button class="caculator-button" (click)="addDisplay(5)">5</button>
  <button class="caculator-button" (click)="addDisplay(6)">6</button>
  <button class="caculator-button" (click)="resetDisplay()">C</button><br>  
  <button class="caculator-button" (click)="addDisplay(1)">1</button>
  <button class="caculator-button" (click)="addDisplay(2)">2</button>
  <button class="caculator-button" (click)="addDisplay(3)">3</button>
  <button class="caculator-button" (click)="resultadoDisplay()">=</button>
</div>