.top-bar{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.button, button{
  background-color: rgba(255, 255, 255, 0.384);
  margin: 0 10px;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 2px 2px 0px 2px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}